# Pandas: Working with Data Frames - summarizing with groupby

In [1]:
import numpy as np              #standard imports
import scipy as sc
import pandas as pd
import matplotlib as plt
%matplotlib inline

## Read the Hall of Fame dataset from the Baseball-Databank

In [2]:
hall = pd.read_csv("../../baseballdatabank/core/HallOfFame.csv")

# the "../../" says that we're getting the data from two directories above where we are

## List the first 5 rows of the hall Data Frame

In [3]:
hall.head()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN

## Show the column names of the hall Data Frame

In [4]:
hall.columns

Index(['playerID', 'yearid', 'votedBy', 'ballots', 'needed', 'votes',
       'inducted', 'category', 'needed_note'],
      dtype='object')

## List the number of records for each category

In [7]:
hall.groupby('category').count()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,needed_note
category,,,,,,,,
Manager,74,74,74,51,51,51,74,0
Pioneer/Executive,39,39,39,7,7,7,39,0
Player,3997,3997,3997,3869,3712,3869,3997,157
Umpire,10,10,10,0,0,0,10,0

## List the votedBy counts

In [8]:
hall.groupby('votedBy').count()

,playerID,yearid,ballots,needed,votes,inducted,category,needed_note
votedBy,,,,,,,,
BBWAA,3689,3689,3689,3689,3689,3689,3689,0
Centennial,6,6,0,0,0,6,6,0
Final Ballot,21,21,21,21,21,21,21,0
Negro League,26,26,0,0,0,26,26,0
Nominating Vote,76,76,76,0,76,76,76,76
Old Timers,30,30,0,0,0,30,30,0
Run Off,81,81,81,0,81,81,81,81
Special Election,2,2,0,0,0,2,2,0
Veterans,189,189,60,60,60,189,189,0

## Two-level groupby

In [9]:
hall.groupby(('category','votedBy')).count()

                                    playerID  yearid  ballots  needed  votes  \
category          votedBy
Manager           BBWAA                   51      51       51      51     51
                  Centennial               1       1        0       0      0
                  Old Timers               1       1        0       0      0
                  Veterans                21      21        0       0      0
Pioneer/Executive BBWAA                    7       7        7       7      7
                  Centennial               5       5        0       0      0
                  Negro League             5       5        0       0      0
                  Old Timers               4       4        0       0      0
                  Veterans                18      18        0       0      0
Player            BBWAA                 3631    3631     3631    3631   3631
                  Final Ballot            21      21       21      21     21
                  Negro League            21      21        0       0      0
                  Nominating Vote         76      76       76       0     76
                  Old Timers              25      25        0       0      0
                  Run Off                 81      81       81       0     81
                  Special Election         2       2        0       0      0
                  Veterans               140     140       60      60     60
Umpire            Veterans                10      10        0       0      0

                                    inducted  needed_note
category          votedBy
Manager           BBWAA                   51            0
                  Centennial               1            0
                  Old Timers               1            0
                  Veterans                21            0
Pioneer/Executive BBWAA                    7            0
                  Centennial               5            0
                  Negro League             5            0
                  Old Timers               4            0
                  Veterans                18            0
Player            BBWAA                 3631            0
                  Final Ballot            21            0
                  Negro League            21            0
                  Nominating Vote         76           76
                  Old Timers              25            0
                  Run Off                 81           81
                  Special Election         2            0
                  Veterans               140            0
Umpire            Veterans                10            0

In [10]:
hall.groupby(('votedBy','category')).count()

                                    playerID  yearid  ballots  needed  votes  \
votedBy          category
BBWAA            Manager                  51      51       51      51     51
                 Pioneer/Executive         7       7        7       7      7
                 Player                 3631    3631     3631    3631   3631
Centennial       Manager                   1       1        0       0      0
                 Pioneer/Executive         5       5        0       0      0
Final Ballot     Player                   21      21       21      21     21
Negro League     Pioneer/Executive         5       5        0       0      0
                 Player                   21      21        0       0      0
Nominating Vote  Player                   76      76       76       0     76
Old Timers       Manager                   1       1        0       0      0
                 Pioneer/Executive         4       4        0       0      0
                 Player                   25      25        0       0      0
Run Off          Player                   81      81       81       0     81
Special Election Player                    2       2        0       0      0
Veterans         Manager                  21      21        0       0      0
                 Pioneer/Executive        18      18        0       0      0
                 Player                  140     140       60      60     60
                 Umpire                   10      10        0       0      0

                                    inducted  needed_note
votedBy          category
BBWAA            Manager                  51            0
                 Pioneer/Executive         7            0
                 Player                 3631            0
Centennial       Manager                   1            0
                 Pioneer/Executive         5            0
Final Ballot     Player                   21            0
Negro League     Pioneer/Executive         5            0
                 Player                   21            0
Nominating Vote  Player                   76           76
Old Timers       Manager                   1            0
                 Pioneer/Executive         4            0
                 Player                   25            0
Run Off          Player                   81           81
Special Election Player                    2            0
Veterans         Manager                  21            0
                 Pioneer/Executive        18            0
                 Player                  140            0
                 Umpire                   10            0

## Groupby with selection - groupby over a subset

In [11]:
hall[hall.votedBy=='Veterans'].groupby('category').count()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,needed_note
category,,,,,,,,
Manager,21,21,21,0,0,0,21,0
Pioneer/Executive,18,18,18,0,0,0,18,0
Player,140,140,140,60,60,60,140,0
Umpire,10,10,10,0,0,0,10,0

Note that there is no indication that the above list is only 'Veterans'.  We can use a two-level groupby in this case:

In [12]:
hall[hall.votedBy=='Veterans'].groupby(('votedBy','category')).count()

                            playerID  yearid  ballots  needed  votes  \
votedBy  category
Veterans Manager                  21      21        0       0      0
         Pioneer/Executive        18      18        0       0      0
         Player                  140     140       60      60     60
         Umpire                   10      10        0       0      0

                            inducted  needed_note
votedBy  category
Veterans Manager                  21            0
         Pioneer/Executive        18            0
         Player                  140            0
         Umpire                   10            0

## Read the master Data Frame and list the column names

In [20]:
master = pd.read_csv("../../baseballdatabank/core/Master.csv")
master.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [48]:
hall.groupby(('yearid', 'inducted')).count()

                 playerID  votedBy  ballots  needed  votes  category  \
yearid inducted
1936   N              105      105      105     105    105       105
       Y                5        5        5       5      5         5
1937   N              110      110      110     110    110       110
       Y                8        8        3       3      3         8
1938   N              119      119      119     119    119       119
       Y                3        3        1       1      1         3
1939   N              105      105      105     105    105       105
       Y               10       10        3       3      3        10
1942   N               71       71       71      71     71        71
       Y                1        1        1       1      1         1
1944   Y                1        1        0       0      0         1
1945   N               95       95       95      95     95        95
       Y               10       10        0       0      0        10
1946   N               97       97       97      21     97        97
       Y               11       11        0       0      0        11
1947   N               35       35       35      35     35        35
       Y                4        4        4       4      4         4
1948   N              104      104      104     104    104       104
       Y                2        2        2       2      2         2
1949   N              117      117      117      98    117       117
       Y                3        3        1       0      1         3
1950   N              100      100      100     100    100       100
1951   N               84       84       84      84     84        84
       Y                2        2        2       2      2         2
1952   N               73       73       73      73     73        73
       Y                2        2        2       2      2         2
1953   N               81       81       81      81     81        81
       Y                8        8        2       2      2         8
1954   N               50       50       50      50     50        50
       Y                3        3        3       3      3         3
...                   ...      ...      ...     ...    ...       ...
2002   N               27       27       27      27     27        27
       Y                1        1        1       1      1         1
2003   N               31       31       31      31     31        31
       Y                2        2        2       2      2         2
2004   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2
2005   N               25       25       25      25     25        25
       Y                2        2        2       2      2         2
2006   N               28       28       28      28     28        28
       Y               18       18        1       1      1        18
2007   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2
2008   N               24       24       24      24     24        24
       Y                6        6        1       1      1         6
2009   N               21       21       21      21     21        21
       Y                3        3        2       2      2         3
2010   N               25       25       25      25     25        25
       Y                3        3        1       1      1         3
2011   N               31       31       31      31     31        31
       Y                3        3        2       2      2         3
2012   N               26       26       26      26     26        26
       Y                2        2        1       1      1         2
2013   N               37       37       37      37     37        37
       Y                3        3        0       0      0         3
2014   N               33       33       33      33     33        33
       Y                6        6        3       3      3         6
2015   N               30       30       30      30     30        30
       Y                4        4        4       4      4         4
2016   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2

                 needed_note
yearid inducted
1936   N                   0
       Y                   0
1937   N                   0
       Y                   0
1938   N                   0
       Y                   0
1939   N                   0
       Y                   0
1942   N                   0
       Y                   0
1944   Y                   0
1945   N                   0
       Y                   0
1946   N                  76
       Y                   0
1947   N                   0
       Y                   0
1948   N                   0
       Y                   0
1949   N                  19
       Y                   1
1950   N                   0
1951   N                   0
       Y                   0
1952   N                   0
       Y                   0
1953   N                   0
       Y                   0
1954   N                   0
       Y                   0
...                      ...
2002   N                   0
       Y                   0
2003   N                   0
       Y                   0
2004   N                   0
       Y                   0
2005   N                   0
       Y                   0
2006   N                   0
       Y                   0
2007   N                   0
       Y                   0
2008   N                   0
       Y                   0
2009   N                   0
       Y                   0
2010   N                   0
       Y                   0
2011   N                   0
       Y                   0
2012   N                   0
       Y                   0
2013   N                   0
       Y                   0
2014   N                   0
       Y                   0
2015   N                   0
       Y                   0
2016   N                   0
       Y                   0

[147 rows x 7 columns]

In [49]:
hall[hall.inducted=='Y'].groupby('yearid').count()

,playerID,votedBy,ballots,needed,votes,inducted,category,needed_note
yearid,,,,,,,,
1936,5,5,5,5,5,5,5,0
1937,8,8,3,3,3,8,8,0
1938,3,3,1,1,1,3,3,0
1939,10,10,3,3,3,10,10,0
1942,1,1,1,1,1,1,1,0
1944,1,1,0,0,0,1,1,0
1945,10,10,0,0,0,10,10,0
1946,11,11,0,0,0,11,11,0
1947,4,4,4,4,4,4,4,0
1948,2,2,2,2,2,2,2,0
1949,3,3,1,0,1,3,3,1
1951,2,2,2,2,2,2,2,0
1952,2,2,2,2,2,2,2,0
1953,8,8,2,2,2,8,8,0
1954,3,3,3,3,3,3,3,0
1955,6,6,4,4,4,6,6,0
1956,2,2,2,2,2,2,2,0
1957,2,2,0,0,0,2,2,0
1959,1,1,0,0,0,1,1,0
1961,2,2,0,0,0,2,2,0
1962,4,4,2,2,2,4,4,0
1963,4,4,0,0,0,4,4,0
1964,7,7,1,0,1,7,7,1
1965,1,1,0,0,0,1,1,0
1966,2,2,1,1,1,2,2,0
1967,3,3,1,0,1,3,3,1
1968,3,3,1,1,1,3,3,0
1969,4,4,2,2,2,4,4,0
1970,4,4,1,1,1,4,4,0
1971,8,8,0,0,0,8,8,0
...,...,...,...,...,...,...,...,...
1987,3,3,2,2,2,3,3,0
1988,1,1,1,1,1,1,1,0
1989,4,4,2,2,2,4,4,0
1990,2,2,2,2,2,2,2,0
1991,5,5,3,3,3,5,5,0
1992,4,4,2,2,2,4,4,0
1993,1,1,1,1,1,1,1,0
1994,3,3,1,1,1,3,3,0
1995,5,5,1,1,1,5,5,0
1996,4,4,0,0,0,4,4,0
1997,4,4,1,1,1,4,4,0
1998,5,5,1,1,1,5,5,0
1999,7,7,3,3,3,7,7,0
2000,5,5,2,2,2,5,5,0
2001,4,4,2,2,2,4,4,0
2002,1,1,1,1,1,1,1,0
2003,2,2,2,2,2,2,2,0
2004,2,2,2,2,2,2,2,0
2005,2,2,2,2,2,2,2,0
2006,18,18,1,1,1,18,18,0
2007,2,2,2,2,2,2,2,0
2008,6,6,1,1,1,6,6,0
2009,3,3,2,2,2,3,3,0
2010,3,3,1,1,1,3,3,0
2011,3,3,2,2,2,3,3,0
2012,2,2,1,1,1,2,2,0
2013,3,3,0,0,0,3,3,0
2014,6,6,3,3,3,6,6,0
2015,4,4,4,4,4,4,4,0
2016,2,2,2,2,2,2,2,0

In [ ]:
hall[['yearid','inducted']hall.inducted=='Y'].groupby('yearid').count()

## Exercise: produce a list showing the counts of hall of fame inductees by year

In [14]:
hall.groupby(('yearid', 'inducted')).count()

                 playerID  votedBy  ballots  needed  votes  category  \
yearid inducted
1936   N              105      105      105     105    105       105
       Y                5        5        5       5      5         5
1937   N              110      110      110     110    110       110
       Y                8        8        3       3      3         8
1938   N              119      119      119     119    119       119
       Y                3        3        1       1      1         3
1939   N              105      105      105     105    105       105
       Y               10       10        3       3      3        10
1942   N               71       71       71      71     71        71
       Y                1        1        1       1      1         1
1944   Y                1        1        0       0      0         1
1945   N               95       95       95      95     95        95
       Y               10       10        0       0      0        10
1946   N               97       97       97      21     97        97
       Y               11       11        0       0      0        11
1947   N               35       35       35      35     35        35
       Y                4        4        4       4      4         4
1948   N              104      104      104     104    104       104
       Y                2        2        2       2      2         2
1949   N              117      117      117      98    117       117
       Y                3        3        1       0      1         3
1950   N              100      100      100     100    100       100
1951   N               84       84       84      84     84        84
       Y                2        2        2       2      2         2
1952   N               73       73       73      73     73        73
       Y                2        2        2       2      2         2
1953   N               81       81       81      81     81        81
       Y                8        8        2       2      2         8
1954   N               50       50       50      50     50        50
       Y                3        3        3       3      3         3
...                   ...      ...      ...     ...    ...       ...
2002   N               27       27       27      27     27        27
       Y                1        1        1       1      1         1
2003   N               31       31       31      31     31        31
       Y                2        2        2       2      2         2
2004   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2
2005   N               25       25       25      25     25        25
       Y                2        2        2       2      2         2
2006   N               28       28       28      28     28        28
       Y               18       18        1       1      1        18
2007   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2
2008   N               24       24       24      24     24        24
       Y                6        6        1       1      1         6
2009   N               21       21       21      21     21        21
       Y                3        3        2       2      2         3
2010   N               25       25       25      25     25        25
       Y                3        3        1       1      1         3
2011   N               31       31       31      31     31        31
       Y                3        3        2       2      2         3
2012   N               26       26       26      26     26        26
       Y                2        2        1       1      1         2
2013   N               37       37       37      37     37        37
       Y                3        3        0       0      0         3
2014   N               33       33       33      33     33        33
       Y                6        6        3       3      3         6
2015   N               30       30       30      30     30        30
       Y                4        4        4       4      4         4
2016   N               30       30       30      30     30        30
       Y                2        2        2       2      2         2

                 needed_note
yearid inducted
1936   N                   0
       Y                   0
1937   N                   0
       Y                   0
1938   N                   0
       Y                   0
1939   N                   0
       Y                   0
1942   N                   0
       Y                   0
1944   Y                   0
1945   N                   0
       Y                   0
1946   N                  76
       Y                   0
1947   N                   0
       Y                   0
1948   N                   0
       Y                   0
1949   N                  19
       Y                   1
1950   N                   0
1951   N                   0
       Y                   0
1952   N                   0
       Y                   0
1953   N                   0
       Y                   0
1954   N                   0
       Y                   0
...                      ...
2002   N                   0
       Y                   0
2003   N                   0
       Y                   0
2004   N                   0
       Y                   0
2005   N                   0
       Y                   0
2006   N                   0
       Y                   0
2007   N                   0
       Y                   0
2008   N                   0
       Y                   0
2009   N                   0
       Y                   0
2010   N                   0
       Y                   0
2011   N                   0
       Y                   0
2012   N                   0
       Y                   0
2013   N                   0
       Y                   0
2014   N                   0
       Y                   0
2015   N                   0
       Y                   0
2016   N                   0
       Y                   0

[147 rows x 7 columns]

In [50]:
hall[['yearid','inducted', 'playerID']][hall.inducted=='Y'].groupby('yearid').count()

        inducted  playerID
yearid
1936           5         5
1937           8         8
1938           3         3
1939          10        10
1942           1         1
1944           1         1
1945          10        10
1946          11        11
1947           4         4
1948           2         2
1949           3         3
1951           2         2
1952           2         2
1953           8         8
1954           3         3
1955           6         6
1956           2         2
1957           2         2
1959           1         1
1961           2         2
1962           4         4
1963           4         4
1964           7         7
1965           1         1
1966           2         2
1967           3         3
1968           3         3
1969           4         4
1970           4         4
1971           8         8
...          ...       ...
1987           3         3
1988           1         1
1989           4         4
1990           2         2
1991           5         5
1992           4         4
1993           1         1
1994           3         3
1995           5         5
1996           4         4
1997           4         4
1998           5         5
1999           7         7
2000           5         5
2001           4         4
2002           1         1
2003           2         2
2004           2         2
2005           2         2
2006          18        18
2007           2         2
2008           6         6
2009           3         3
2010           3         3
2011           3         3
2012           2         2
2013           3         3
2014           6         6
2015           4         4
2016           2         2

[75 rows x 2 columns]

## Exercise: produce a list showing the counts of living hall of fame inductees by year

In [46]:
list = pd.merge(hall[(hall.inducted=='Y')], master[(master.deathYear.isnull())], how='inner')
#list[['inducted', 'deathYear']]
#list

list.groupby(('yearid')).count()

,playerID,votedBy,ballots,needed,votes,inducted,category,needed_note,birthYear,birthMonth,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
yearid,,,,,,,,,,,,,,,,,,,,,
1972,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1974,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1979,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1980,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1981,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1982,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1983,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1984,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1985,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1986,2,2,1,1,1,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1987,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1989,3,3,2,2,2,3,3,0,3,3,...,3,3,3,3,3,3,3,3,3,3
1990,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1991,3,3,3,3,3,3,3,0,3,3,...,3,3,3,3,3,3,3,3,3,3
1992,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1993,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1994,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1995,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1996,1,1,0,0,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1997,2,2,1,1,1,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
1998,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
1999,4,4,3,3,3,4,4,0,4,4,...,4,4,4,4,4,4,4,4,4,4
2000,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2001,2,2,1,1,1,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2002,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2003,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2004,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2005,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2006,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2007,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2008,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2009,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2
2010,3,3,1,1,1,3,3,0,3,3,...,3,3,3,3,2,2,2,2,3,3
2011,3,3,2,2,2,3,3,0,3,3,...,3,3,3,3,3,3,2,2,2,3
2012,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2014,6,6,3,3,3,6,6,0,6,6,...,6,6,6,6,6,6,6,6,6,6
2015,4,4,4,4,4,4,4,0,4,4,...,4,4,4,4,4,4,4,4,4,4
2016,2,2,2,2,2,2,2,0,2,2,...,2,2,2,2,2,2,2,2,2,2

## Exercise: produce a list showing the number of times each player was voted on for induction into the hall of fame

In [61]:
hall[['playerID', 'yearid']].groupby(('playerID')).count()

           yearid
playerID
aaronha01       1
abbotji01       1
adamsba01      15
adamsbo03       1
adamssp01       2
ageeto01        1
aguilri01       1
akerja01        1
alexado01       1
alexape01       3
allenbe01       1
allendi01      14
allenjo02       1
alleyge01       1
allisdo01       1
alomaro01       2
alomasa02       1
aloufe01        1
alouje01        1
alouma01        1
aloumo01        1
alstowa01       1
altroni01       8
anderbr01       1
anderga01       1
andersp01       1
ansonca01       2
aparilu01       6
appieke01       1
applilu01       8
...           ...
wiseri01        1
wittbo01        1
wittmi01        1
wittwh01        1
womacto01       1
woodjo02        9
woodwi01        6
worreto01       1
wrighge01       2
wrighgl01      12
wrighha01       1
wyattwh01       1
wynnea01        4
wynnji01        1
yastrca01       1
yawketo99       1
yeagest01       1
yerkest02       1
yorkru01        2
youngcy01       3
younger01       1
youngpe01       1
youngro01      19
yountro01       1
zachato01       2
zachrpa01       1
zahnge01        1
zeileto01       1
zimmech01       1
ziskri01        1

[1239 rows x 1 columns]